<div class="text-center">
  <h1 class="text-yellow"> 404</h1>

  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Página Não Encontrada!</h3>

    <p>
      Talvez você queira ir para a <a href="{{SITE_URL}}">Página inicial</a>
    </p>
  </div>
</div>