<div class="text-center">
  <h1 class="text-red"> Erro!</h1>

  <div class="error-content">
    <h3><i class="fa fa-warning text-red"></i> Algo estranho aconteceu!</h3>

    <p>
      Talvez você queira ir para a <a href="{{SITE_URL}}">Página inicial</a>
    </p>
  </div>
</div>