{%spaceless%}
    {% include 'offline_header.twig' %}
    {%if '.twig' in _template%}
        {% include 'errorpages/'~_template %}
    {%else%}
        {% include ['errorpages/'~_template,'.twig']|join %}
    {%endif%}
    {% include 'offline_footer.twig' %}
{%endspaceless%}