<h2 class="page-header">Sobre o Nyu Framework</h2>
<h4>{{_SYS_NAME_}} {{_SYS_VERSION_}}</h4>
<p>Nyu Framework por <a href="http://www.maycow.com.br/">Maycow Antunes</a></p>
<p>A base de classes utilizáveis do Nyu Framework é composta por:</p>
<ul>
    <li>NyuCore</li>
    <li>NyuController</li>
    <li>NyuTemplate</li>
    <li>NyuFileManager</li>
    <li>NyuFormat</li>
    <li>NyuDateTime</li>
    <li>NyuModel</li>
    <li>NyuKeyModel</li>
    <li>NyuSimplePaginationModel</li>
    <li>NyuSimplePaginationKeyModel</li>
    <li>NyuDb</li>
    <li>NyuQueryBuilder</li>
    <li>NyuBusiness</li>
    <li>NyuValidate</li>
    <li>NyuValidateRule</li>
    <li>NyuCacheContent</li>
    <li>NyuCachedController</li>
    <li>NyuLibManager</li>
    <li>NyuHelperLoader</li>
    <li>NyuMVCLoader</li>
    <li>NyuMVCManager</li>
    <li>NyuErrorManager</li>
    <li>NyuException</li>
    <li>NyuModelException</li>
    <li>NyuBusinessException</li>
    <li>NyuValidateException</li>
    <li>NyuQueryBuilderException</li>
    <li>NyuConfig</li>
</ul>
<p>Com a Trait NyuPagination, para montar os links de paginação</p>
<p>Trazendo as bibliotecas:</p>
<ul>
    <li><a href="http://twig.sensiolabs.org">Twig</a> (Utilizada em NyuTemplate)</li>
    <li><a href="http://wideimage.sourceforge.net">WideImage</a></li>
    <li><a href="http://www.fpdf.org">FPDF</a></li>
    <li><a href="http://mobiledetect.net">Mobile Detect</a></li>
    <li><a href="https://github.com/PHPMailer/PHPMailer">PHPMailer</a></li>
    <li><a href="https://phpexcel.codeplex.com">PHPExcel</a></li>
    <li><a href="https://github.com/PHPOffice/PHPWord">PHPWord</a></li>
    <li><a href="http://ckeditor.com">CKEditor</a></li>
</ul>
<p>Totalmente preparado para <a href="https://getcomposer.org">Composer</a></p>