<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">Configurações da Administração do Nyu</h3>
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            <div class="panel box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#constantes">
                            Constantes Úteis do Sistema
                        </a>
                    </h4>
                </div>
                <div id="constantes" class="panel-collapse collapse in">
                    <div class="box-body">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>Constante</th>
                                    <th>Valor</th>
                                </tr>
                                <tr>
                                    <td>_SYS_NAME_</td>
                                    <td>
                                        {{_SYS_NAME_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_SYS_VERSION_</td>
                                    <td>
                                        {{_SYS_VERSION_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_SYS_VERSION_CODE_</td>
                                    <td>
                                        {{_SYS_VERSION_CODE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>SITE_NAME</td>
                                    <td>
                                        {{SITE_NAME}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>SITE_NAME_SYS</td>
                                    <td>
                                        {{SITE_NAME_SYS}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>SITE_URL</td>
                                    <td>
                                        <a href="{{SITE_URL}}" target="_blank">{{SITE_URL}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CURRENT_URL</td>
                                    <td>
                                        <a href="{{CURRENT_URL}}" target="_blank">{{CURRENT_URL}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NYU_ADMIN_URL</td>
                                    <td>
                                        <a href="{{NYU_ADMIN_URL}}" target="_blank">{{NYU_ADMIN_URL}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NYU_LOGO</td>
                                    <td>
                                        <a href="{{NYU_LOGO}}" target="_blank">{{NYU_LOGO}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NYU_ADMIN_LOGO</td>
                                    <td>
                                        <a href="{{NYU_ADMIN_LOGO}}" target="_blank">{{NYU_ADMIN_LOGO}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SITE_FOLDER</td>
                                    <td>
                                        {{SITE_FOLDER}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>SITE_PATH</td>
                                    <td>
                                        {{SITE_PATH}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>DS</td>
                                    <td>
                                        {{DS}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>NYU_ADMIN_SALT</td>
                                    <td>
                                        {{NYU_ADMIN_SALT}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_LANG_</td>
                                    <td>
                                        {{_LANG_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_IGNORE_NOT_FOUND_PAGE_</td>
                                    <td>
                                        {{_IGNORE_NOT_FOUND_PAGE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_CACHE_VIEWS_</td>
                                    <td>
                                        {{_CACHE_VIEWS_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_NYU_ADMIN_</td>
                                    <td>
                                        {{_NYU_ADMIN_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_LOG_</td>
                                    <td>
                                        {{_LOG_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_401_ERROR_FILE_</td>
                                    <td>
                                        {{_401_ERROR_FILE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_403_ERROR_FILE_</td>
                                    <td>
                                        {{_403_ERROR_FILE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_404_ERROR_FILE_</td>
                                    <td>
                                        {{_404_ERROR_FILE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_500_ERROR_FILE_</td>
                                    <td>
                                        {{_500_ERROR_FILE_}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>_DEFAULT_ERROR_FILE_</td>
                                    <td>
                                        {{_DEFAULT_ERROR_FILE_}}
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {%if config_driver == 'mysql'%}
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dados-db">
                                Dados de acesso ao Banco de Dados da Administração
                            </a>
                        </h4>
                    </div>
                    <div id="dados-db" class="panel-collapse collapse">
                        <div class="box-body">
                            <textarea class="form-control" rows="3" disabled="">{{config_content}}</textarea>
                        </div>
                        <a href="{{NYU_ADMIN_URL}}config/admin-edit/" class="btn btn-warning btn-flat">Editar</a>
                    </div>
                </div>
            {%endif%}
            <div class="panel box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#reinstall">
                            Reinstalar a Administração
                        </a>
                    </h4>
                </div>
                <div style="height: 0px;" id="reinstall" class="panel-collapse collapse">
                    <div class="box-body">
                        {%if config_driver == 'sqlite'%}
                            <div class="alert alert-danger alert-dismissible">
                                <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                Esta ação irá apagar o arquivo de banco de dados SQLite e todos os dados gravados nele serão perdidos.
                            </div>
                        {%else%}
                            <div class="alert alert-warning alert-dismissible">
                                <h4><i class="icon fa fa-ban"></i> Aviso!</h4>
                                Esta ação irá apagar o arquivo com os dados de configuração do banco de dados. Os dados gravados no banco de dados atual não serão perdidos.
                            </div>
                        {%endif%}
                        <button class="btn btn-danger btn-flat" id="reinstallbtn">Reinstalar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>