{#cabeçalho#}
<section class="content-header">
    <h1>Contato</h1>
    <ol class="breadcrumb">
        <li><a href="{{SITE_URL}}"><i class="fa fa-map-marker"></i> Home</a></li>
        <li class="active">Contato</li>
    </ol>
</section>
{#conteúdo#}
<section class="content">
    <div class="box box-primary">
        <form id="formContato" method="POST" autocomplete="off" action="">
            <input type="hidden" name="pessoaId" id="pessoaId"/>
            <div class="box-body">
                <div class="form-group">
                    <label for="pessoaTipoId">Tipo*</label>
                    <select id="pessoaTipoId" name="pessoaTipoId" class="form-control">
                        <option value="">Selecione...</option>
                        {%for pessoaTipo in pessoaTipos %}
                            <option value="{{pessoaTipo.getPessoaTipoId()}}">{{pessoaTipo.getPessoaTipo()}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="nome">Nome*</label>
                    <div class="input-group">
                        <input type="text" placeholder="Nome" id="nome" name="nome" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" id='buscaContato' class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone*</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
                </div>
                <div class="form-group">
                    <label for="origemId">Origem*</label>
                    <select  id="origemId" name="origemId" class="form-control">
                        <option value="">Selecione...</option>
                        {%for origem in origens %}
                            <option value="{{origem.getOrigemId()}}">{{origem.getOrigem()}}</option>
                        {%endfor%}
                    </select>
                    </select>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="estadoId">Estado*</label>
                            <select id="estadoId" name="estadoId" class="form-control">
                                <option value="">Selecione...</option>
                                {%for estado in estados %}
                                    <option value="{{estado.getEstadoId()}}">{{estado.getEstado()}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cidadeCombo">Cidade*</label>
                            <div id="formSelectCidade">
                                <select id="cidadeCombo" name="cidadeId" class="form-control">
                                    <option value="">Selecione o Estado...</option>
                                </select>
                            </div>

                            <div id="formNovaCidade">
                                <div class="alert alert-danger msg-erro">
                                </div>
                                <div class="input-group">
                                    <input type="text" placeholder="Nova cidade" id="novaCidade" name="cidade" class="form-control">
                                    <div class="input-group-btn">
                                        <button type="button" id="salvaNovaCidade" class="btn btn-primary">Adicionar</button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" id="cancelaNovaCidade" class="btn btn-danger">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comentarios">Comentários</label>
                    <textarea id="comentarios" name="comentarios" class="form-control" rows="3" placeholder="Comentários"></textarea>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
    </div>
</section>
{# Modal de Busca #}
<div class="modal fade" tabindex="-1" role="dialog" id="modalBusca">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resultados da busca por <mark class='valor-busca'></mark></h4>
            </div>
            <div class="modal-body">
                <table class='table table-striped table-hover conteudo-busca'>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
{# Modal de Mensagem #}
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>