{%spaceless%}
    {% include 'header.twig' %}
    {%if '.twig' in _template%}
        {% include _template %}
    {%else%}
        {% include [_template,'.twig']|join %}
    {%endif%}
    {% include 'footer.twig' %}
{%endspaceless%}