  </div>
  {# /.content-wrapper #}

  {# Main Footer #}
  <footer class="main-footer">
      <div class="pull-right hidden-xs">
          <a href='{{SITE_URL}}_nyuadmin/about/'>Sobre o Nyu</a>
      </div>
      <strong>Copyright &copy; 2016 <a href="http://www.maycow.com.br/projetos/nyu" target='_blank'>Nyu Framework PHP</a>.</strong> Todos os direitos reservados.
  </footer>
</div>
{# ./wrapper #}

{# REQUIRED JS SCRIPTS #}

{# jQuery #}
<script src="{{SITE_URL}}nyu/adminmedia/js/jquery-1.12.1.min.js"></script>
{# Bootstrap 3.3.5 #}
<script src="{{SITE_URL}}nyu/adminmedia/js/bootstrap.min.js"></script>
{# AdminLTE App #}
<script src="{{SITE_URL}}nyu/adminmedia/js/app.min.js"></script>
{# SlimScroll #}
<script src="{{SITE_URL}}nyu/adminmedia/js/jquery.slimscroll.min.js"></script>
{# Maskedinput #}
<script src="{{SITE_URL}}nyu/adminmedia/js/jquery.mask.min.1.13.4.js"></script>
{# Validate #}
<script src="{{SITE_URL}}nyu/adminmedia/js/jquery.validate.min.js"></script>
{# Javascript padrão da administração #}
<script src="{{SITE_URL}}nyu/adminmedia/js/nyuadmin.js"></script>
{# Carrega os arquivos JS do template #}
{%if _js %}
    {%for _file in _js%}
        <script src="{{_file}}"></script>
    {%endfor%}
{%endif%}
</body>
</html>
