<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nyu:Admin{%if _title %} | {{_title}}{%endif%}</title>
        <link rel="shortcut icon" href="{{SITE_URL}}favicon.ico" type="img/x-icon">
        {# Tell the browser to be responsive to screen width #}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {# Bootstrap 3.3.5 #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/bootstrap.min.css">
        {# Font Awesome #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/font-awesome.min.css">
        {# Ionicons #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/ionicons.min.css">
        {# Theme style #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/AdminLTE.min.css">
        {# AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/skins/skin-purple.min.css">
        {# css padrao do sistema #}
        <link rel="stylesheet" href="{{SITE_URL}}nyu/adminmedia/css/nyuadmin.css">

        {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
        {# WARNING: Respond.js doesn't work if you view the page via file:// #}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {# Carrega os arquivos CSS do template #}
        {%if _css %}
            {%for _file in _css%}
                <link rel="stylesheet" href="{{_file}}">
            {%endfor%}
        {%endif%}
        <script>
            SITE_URL = "{{SITE_URL}}";
            NYU_ADMIN_URL = "{{NYU_ADMIN_URL}}";
        </script>
    </head>
    <body class="skin-purple hold-transition fixed sidebar-mini">
        <div class="wrapper">
            {% include 'menu.twig' %}
            
            {# Content Wrapper. Contains page content #}
            <div class="content-wrapper">