<h2 class="page-header">Instalação do Nyu Framework</h2>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a aria-expanded="true" href="#default" data-toggle="tab">Padrão</a></li>
        <li class=""><a aria-expanded="false" href="#custom" data-toggle="tab">Personalizada</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="default">
            <h1 class='text-center'><a href="{{NYU_ADMIN_URL}}install/do/"><span class="fa fa-download"></span> Instalar!</a></h1>
        </div>
        <div class="tab-pane" id="custom">
            <form action="{{NYU_ADMIN_URL}}install/custom/" method="post" id="nyu_admin_install_custom">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input name="databasedriver" id="database-sqlite" value="sqlite" checked type="radio">
                            SQLite
                        </label>
                        <label>
                            <input name="databasedriver" id="database-mysql" value="mysql" type="radio">
                            MySQL
                        </label>
                    </div>
                    <div id="mysql-config">
                        <div class="form-group has-feedback">
                            <span class="fa fa-server form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Endereço*" id="host" name="host">
                        </div>
                        <div class="form-group has-feedback">
                            <span class="fa fa-cog form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Porta" id="port" name="port">
                        </div>
                        <div class="form-group has-feedback">
                            <span class="fa fa-database form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Banco de Dados*" id="database" name="database">
                        </div>
                        <div class="form-group has-feedback">
                            <span class="fa fa-user form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Usuário*" id="username" name="username">
                        </div>
                        <div class="form-group has-feedback">
                            <span class="fa fa-lock form-control-feedback"></span>
                            <input type="password" class="form-control" placeholder="Senha" id="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-info btn-block btn-flat">Instalar!</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>