<form action="{{NYU_ADMIN_URL}}user/login-check/" method="post" id="nyu_admin_login">
    <div class="form-group has-feedback">
        <span class="fa fa-user form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Usuário" id="username" name="username">
    </div>
    <div class="form-group has-feedback">
        <span class="fa fa-lock form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Senha" id="password" name="password">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-info btn-block btn-flat">Entrar</button>
        </div>
    </div>
</form>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>