{% autoescape false %}
{{breadcrumb}}
{% endautoescape %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <form role="form" action="{{NYU_ADMIN_URL}}menu/save/" method="post" id="nyu_admin_menu_form">
        <div class="box-body">
            <input id="menu_tree_item" name="menu_tree_item" type="hidden" {%if obj%}value="{{obj.getId()}}"{%endif%}>
            <input id="parent" name="parent" type="hidden" {%if obj%}value="{{obj.getParent()}}"{%elseif parent%}value="{{parent}}"{%endif%}>
            <div class="form-group">
                <label for="title">Título</label>
                <input class="form-control" id="title" name="title" placeholder="Título do Menu" type="text" {%if obj%}value="{{obj.getTitle()}}"{%endif%}>
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input class="form-control" id="link" name="link" placeholder="/link/do/menu/ ou http://link.externo.do.menu/" type="text" {%if obj%}value="{{obj.getLink()}}"{%endif%}>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="relative" name="relative" value="1" {%if obj%}{%if obj.isRelative()%}checked{%endif%}{%else%}checked{%endif%}> Link Relativo (link interno da administração)
                </label>
            </div>
            <div class="form-group">
                <label for="custom_icon">Classe do ícone customizado</label>
                <input class="form-control" id="custom_icon" name="custom_icon" placeholder="fa fa-circle-o" type="text" {%if obj%}value="{{obj.getCustomIcon()}}"{%endif%}>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-flat">Gravar</button>
        </div>
    </form>
    <a href="{{NYU_ADMIN_URL}}menu/new/child/{{obj.getId()}}" id="newchild" class="btn bg-orange btn-flat margin" {%if not obj%}style="display:none" data-new="true"{%endif%}>Adicionar Menu Filho</a>
    {%if obj and obj.getParent() or parent%}
    <a href="{{NYU_ADMIN_URL}}menu/edit/{%if obj%}{{obj.getParent()}}{%elseif parent%}{{parent}}{%endif%}/" class="btn bg-maroon btn-flat margin">Voltar ao Menu Pai</a>
    <a href="{{NYU_ADMIN_URL}}menu/new/child/{%if obj%}{{obj.getParent()}}{%elseif parent%}{{parent}}{%endif%}/" class="btn bg-orange btn-flat margin">Adicionar Menu Irmão</a>
    {%endif%}
    <a href="{{NYU_ADMIN_URL}}menu/" class="btn btn-success btn-flat margin">Voltar à lista principal de Menus</a>
    {%if obj%}
    <a href="{{NYU_ADMIN_URL}}menu/" class="btn btn-danger btn-flat margin menu-delete" data-id="{{obj.getId()}}" data-title="{{obj.getTitle()}}">Excluir menu</a>
    {%endif%}
    {%if obj and obj.children()%}
    <div class="box-group" id="accordion">
        <div class="panel box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#menuchildren">
                        Menus Filhos
                    </a>
                </h4>
            </div>
            <div id="menuchildren" class="panel-collapse collapse">
                <div class="box-body">
                    <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Possui Filhos</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in obj.children()%}
                            <tr>
                                <td><a href="{{NYU_ADMIN_URL}}menu/edit/{{item.getId()}}">{{item.getTitle()}}</a></td>
                                <td><a href="{{NYU_ADMIN_URL}}menu/edit/{{item.getId()}}">{%if item.hasChildren()%}Sim{%else%}Não{%endif%}</a></td>
                                <td><a class="menu-delete nyuadmin-icon" data-id="{{item.getId()}}" data-title="{{item.getTitle()}}"><i class="fa fa-remove"></i></a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>