<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-bars"></i>
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <div class="box-body">
        <a href="{{NYU_ADMIN_URL}}menu/new/" class="btn bg-purple btn-flat margin">Adicionar Novo</a>
        {%if list%}
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Possui Filhos</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {%for item in list%}
                    <tr>
                        <td><a href="{{NYU_ADMIN_URL}}menu/edit/{{item.getId()}}">{{item.getTitle()}}</a></td>
                        <td><a href="{{NYU_ADMIN_URL}}menu/edit/{{item.getId()}}">{%if item.hasChildren()%}Sim{%else%}Não{%endif%}</a></td>
                        <td><a class="menu-delete nyuadmin-icon" data-id="{{item.getId()}}" data-title="{{item.getTitle()}}"><i class="fa fa-remove"></i></a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>