{# Main Header #}
<header class="main-header">

    {# Logo #}
    <a href="{{SITE_URL}}" class="logo">
        <span class="logo-mini"><img src="{{SITE_URL}}nyu/adminmedia/img/nyu-logo-white40x40.png"/></span>
        <span class="logo-lg"><img src="{{SITE_URL}}nyu/adminmedia/img/nyu-logo-white72x40.png"/></span>
    </a>

    {# Header Navbar #}
    <nav class="navbar navbar-static-top" role="navigation">
        {# Sidebar toggle button#}
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                <a href="{{NYU_ADMIN_URL}}user/edit/"><i class="fa fa-user"></i> <span>Editar Usuário</span></a>
              </li>
              <li>
                <a class="nyuadmin-logoff"><i class="fa fa-sign-out"></i> <span>Sair</span></a>
              </li>
            </ul>
        </div>
    </nav>
</header>
{# Left side column. contains the logo and sidebar #}
<aside class="main-sidebar">

    {# sidebar: style can be found in sidebar.less #}
    <section class="sidebar">
        {# Sidebar Menu #}
        <ul class="sidebar-menu">
            {%if currentUser.isAdmin()%}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Configurações</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul style="display: none;" class="treeview-menu">
                    <li><a href="{{NYU_ADMIN_URL}}config/admin/"><i class="fa fa-wrench"></i> Administração do Nyu</a></li>
                    <li><a href="{{NYU_ADMIN_URL}}config/site/"><i class="fa fa-mouse-pointer"></i> Configurações do Site</a></li>
                    <li><a href="{{NYU_ADMIN_URL}}menu/"><i class="fa fa-bars"></i> Menu Customizado da <br>Administração</a></li>
                    <li><a href="{{NYU_ADMIN_URL}}user/"><i class="fa fa-users"></i> <span>Usuários</span></a></li>
                    <li><a href="{{NYU_ADMIN_URL}}plugin/list/"><i class="fa fa-plug"></i> <span>Plugins</span></a></li>
                </ul>
            </li>
            {%endif%}
            {# Menu Customizado #}
            {% autoescape false %}
            {{AdminBase.buildMenu()}}
            {% endautoescape %}
        </ul>
        {# /.sidebar-menu #}
    </section>
    {# /.sidebar #}
</aside>