<div class="box box-default">
    <div class="box-body">
        <div class="callout callout-{%if type%}{{type}}{%else%}danger{%endif%}">
            <h4>{{title}}</h4>
            <p>{{msg}}</p>
        </div>
    </div>
</div>