{% autoescape false %}
{{breadcrumb}}
{% endautoescape %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <form role="form" action="{{NYU_ADMIN_URL}}plugin/install-do/" method="post" id="plugin_install_form" autocomplete="off" enctype="multipart/form-data">
        <div class="box-body">
            <div class="form-group has-feedback">
                <label for="plugin">Id do plugin</label>
                <input type="text" class="form-control" placeholder="Ex: meuplugin" id="plugin" name="plugin">
            </div>
            <div class="form-group has-feedback">
                <label for="plugin">Arquivo zip do plugin</label>
                <input type="file" id="zipfile" name="zipfile">
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-flat">Gravar</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>