<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-plug"></i>
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <div class="box-body">
        <a href="{{NYU_ADMIN_URL}}plugin/new/" class="btn bg-purple btn-flat margin">Criar Novo</a>
        <a href="{{NYU_ADMIN_URL}}plugin/install/" class="btn bg-teal btn-flat margin">Instalar Plugin</a>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Url Base</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {%for item in list%}
                    <tr>
                        <td><a href="{{NYU_ADMIN_URL}}plugin/{%if item['configAction']%}{{item['id']}}/{{item['configAction']}}{%else%}edit/{{item['id']}}/{%endif%}">{%if item['name']%}{{item['name']}}{%else%}{{item['id']}}{%endif%}</a></td>
                        <td><a href="{{NYU_ADMIN_URL}}plugin/{%if item['configAction']%}{{item['id']}}/{{item['configAction']}}{%else%}edit/{{item['id']}}/{%endif%}">plugin/{{item['id']}}/</a></td>
                        <td><a class="plugin-delete nyuadmin-icon" data-id="{{item['id']}}" data-pluginname="{%if item['name']%}{{item['name']}}{%else%}{{item['id']}}{%endif%}"><i class="fa fa-remove"></i></a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>