<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <div class="box-body">
        {#https://ace.c9.io/#nav=howto#}
        <style>
            #editor{
                height: 500px;
            }
        </style>
        <div id="editor">{{content}}</div>
        <input type="hidden" name="plugin" id="plugin" value="{{plugin}}"/>
        <div class="row">
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary btn-lg btn-flat btn-block" id="save-content">Gravar</button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning btn-lg btn-flat btn-block" id="refresh">Recarregar</button>
            </div>
            <div class="col-lg-4">
                <a href="{{NYU_ADMIN_URL}}plugin/list/" class="btn btn-success btn-lg btn-flat btn-block">Voltar</a>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Mensagem</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class='modalMensagemConteudo text-center'></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
