{% autoescape false %}
{{breadcrumb}}
{% endautoescape %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <form role="form" action="{{NYU_ADMIN_URL}}user/save/" method="post" id="nyu_admin_user_form" autocomplete="off">
        <div class="box-body">
            <input id="user" name="user" type="hidden" {%if obj%}value="{{obj.getId()}}"{%endif%}>
            <div class="form-group has-feedback">
                <label for="username">Usuário</label>
                <span class="fa fa-user form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Usuário" id="username" name="username" value="{{obj.getUsername()}}">
            </div>
            <div class="form-group has-feedback">
                <label for="password">Senha</label>
                <span class="fa fa-lock form-control-feedback"></span>
                <input type="password" class="form-control" placeholder="Senha" id="password" name="password" autocomplete="off" disabled>
                {%if new == false%}
                <span class="help-block">Para manter a mesma, deixar em branco</span>
                {%endif%}
            </div>
            <div class="form-group has-feedback">
                <label for="nickname">Apelido</label>
                <span class="fa fa-at form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Apelido" id="nickname" name="nickname" value="{{obj.getNickname()}}">
            </div>
            {%if currentUser.isAdmin()%}
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="admin" name="admin" value="1" {%if obj.isAdmin()%}checked{%endif%}> Administrador
                </label>
            </div>
            {%endif%}
            <div class="form-group has-feedback">
                <label for="email">E-mail</label>
                <span class="fa fa-envelope form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="E-mail" id="email" name="email" value="{{obj.getEmail()}}">
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-flat">Gravar</button>
        </div>
    </form>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensagem</h4>
            </div>
            <div class="modal-body">
                <h4 class='modalMensagemConteudo text-center'></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>