<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-users"></i>
        <h3 class="box-title">{{_title}}</h3>
    </div>
    <div class="box-body">
        <a href="{{NYU_ADMIN_URL}}user/new/" class="btn bg-purple btn-flat margin">Adicionar Novo</a>
        {%if list%}
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Apelido</th>
                    <th>E-mail</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {%for item in list%}
                    <tr>
                        <td><a href="{{NYU_ADMIN_URL}}user/edit/{{item.getId()}}">{{item.getUsername()}}</a></td>
                        <td><a href="{{NYU_ADMIN_URL}}user/edit/{{item.getId()}}">{{item.getNickname()}}</a></td>
                        <td><a href="{{NYU_ADMIN_URL}}user/edit/{{item.getId()}}">{{item.getEmail()}}</a></td>
                        <td><a class="user-delete nyuadmin-icon" data-id="{{item.getId()}}" data-username="{{item.getUsername()}}"><i class="fa fa-remove"></i></a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>