/* Oculta o bloco de cadastro de nova cidade */
#formNovaCidade{
    display: none;
}

/* Oculta a mensagem de erro no cadastro de cidade */
#formNovaCidade .alert{
    display: none;
}
/* Mensagem de erro do jquery validate */
label.error{
    color: #F00;
}